/* GOOGLE FONTS */
@import url("http://fonts.googleapis.com/earlyaccess/jejuhallasan.css");

:root {
    --default-font-family: 'Jeju Hallasan', cursive;
    --default-font-size: 1.25rem;
    --default-text-color: #111;
    --neutral-color: #807974;

    --primary-color: #7a3700;
    --primary-color-dark: #592902;
    --primary-background-color: whitesmoke;
    --secondary-background-color: #c7b2a2;
    --card-background-color: #ffffff;
    --card-text-color: #a64800;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--default-font-family);
    line-height: 1;
}

p {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

/* UTILITY CLASSES */
.flow-content > * + * {
    margin-top: 1rem;
}

.container {
    padding: 1rem;
}

.dark-background {
    background-color: var(--neutral-color);
    color: whitesmoke;
}

/* BODY */
/* These global font properties with be inherited by child elements. */
body {
    /* font properties (inherited) */
    background: var(--primary-background-color);
    color: var(--default-text-color);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);

    /* layout properties (not inherited) */
    margin: 0 auto;
    max-width: none;
}

/* BUTTONS */
.button,
.button:visited {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 0.5em;
    cursor: pointer;
    border:2px none;
    border-radius: 10px;
}

.button:hover{
    background: var(--primary-color-dark);
    color: white;
}

.button:active {
    background: var(--primary-color-dark);
    color: white;
}

/* LINKS */
a, a:visited {
    color: var(--primary-color);
    text-decoration:none;
}

a:hover,
a:active {
    color: var(--primary-color-dark);
}

.router-link-exact-active {
    border-radius: 5px;
    color: var(--primary-color);
}
